<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit A Product</title>
  </head>
  <body>
    <h1>Edit A Product</h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
      <div>
        <label for="name">Product Name</label>
        <input
          type="text"
          name="name"
          placeholder="Enter Product Name"
          id="name"
          value="<%=product.name%>"
        />
      </div>
      <div>
        <label for="price">Product Price</label>

        <input
          type="number"
          name="price"
          placeholder="Enter Product Price"
          id="price"
          value="<%=product.price%>"
        />
      </div>
      <div>
        <label for="category">Product Category</label>

        <select name="category" id="category">
          <option value="fruit">fruit</option>
          <option value="vegetable">vegetable</option>
          <option value="dairy">dairy</option>
        </select>
      </div>
      <button>Submit Here</button>
    </form>
    <a href="/products">View All Products</a>
  </body>
</html>
